<div class="wrapper">
  {{#if hasNotify}}
  <div class="notification">
    <div class="notification-icon">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_13_216" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
          <rect width="20" height="20" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_13_216)">
          <path
            d="M9.99563 14C10.2069 14 10.3854 13.9285 10.5312 13.7856C10.6771 13.6427 10.75 13.4656 10.75 13.2544C10.75 13.0431 10.6785 12.8646 10.5356 12.7188C10.3927 12.5729 10.2156 12.5 10.0044 12.5C9.79313 12.5 9.61458 12.5715 9.46875 12.7144C9.32292 12.8573 9.25 13.0344 9.25 13.2456C9.25 13.4569 9.32146 13.6354 9.46438 13.7812C9.60729 13.9271 9.78438 14 9.99563 14ZM9.25 11H10.75V6H9.25V11ZM10.0058 18C8.90472 18 7.86806 17.7917 6.89583 17.375C5.92361 16.9583 5.07292 16.3854 4.34375 15.6562C3.61458 14.9271 3.04167 14.0767 2.625 13.105C2.20833 12.1333 2 11.0951 2 9.99042C2 8.88569 2.20833 7.85069 2.625 6.88542C3.04167 5.92014 3.61458 5.07292 4.34375 4.34375C5.07292 3.61458 5.92333 3.04167 6.895 2.625C7.86667 2.20833 8.90486 2 10.0096 2C11.1143 2 12.1493 2.20833 13.1146 2.625C14.0799 3.04167 14.9271 3.61458 15.6562 4.34375C16.3854 5.07292 16.9583 5.92167 17.375 6.89C17.7917 7.85847 18 8.89319 18 9.99417C18 11.0953 17.7917 12.1319 17.375 13.1042C16.9583 14.0764 16.3854 14.9271 15.6562 15.6562C14.9271 16.3854 14.0783 16.9583 13.11 17.375C12.1415 17.7917 11.1068 18 10.0058 18ZM10 16.5C11.8056 16.5 13.3403 15.8681 14.6042 14.6042C15.8681 13.3403 16.5 11.8056 16.5 10C16.5 8.19444 15.8681 6.65972 14.6042 5.39583C13.3403 4.13194 11.8056 3.5 10 3.5C8.19444 3.5 6.65972 4.13194 5.39583 5.39583C4.13194 6.65972 3.5 8.19444 3.5 10C3.5 11.8056 4.13194 13.3403 5.39583 14.6042C6.65972 15.8681 8.19444 16.5 10 16.5Z"
            fill="white" />
        </g>
      </svg>
    </div>
    <div class="notification-title">{{title}}</div>
    <div class="notification-text">{{message}}</div>
  </div>
  {{/if}}
  {{> en/nav}}
  <div class="banner-box">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="banner-item">
            <div class="banner__left">
              <h2 class="banner__left-title">Fast and<br>tasty!</h2>
              <h3 class="banner__left-subtitle">Экономьте время,<br>without compromising taste!</h3><a
                class="button-other banner__left-btn" href="#program">
                <h3>Become a Partner</h3><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect width="30" height="30" fill="currentColor" />
                  <mask id="mask0_13_514" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                    height="20">
                    <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_13_514)">
                    <path
                      d="M18.125 15.75H9V14.25H18.125L13.9375 10.0625L15 9L21 15L15 21L13.9375 19.9375L18.125 15.75Z"
                      fill="white" />
                  </g>
                </svg>
              </a>
            </div>
            <div class="banner__right">
              <div class="banner__right-img"> <img src="/img/banner-bg.png" alt="banner"></div>
              <div class="banner__right-product"> <img src="/img/product-item.png" alt="product"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner-item">
            <div class="banner__left">
              <h2 class="banner__left-title">Fast and<br> tasty!</h2>
              <h3 class="banner__left-subtitle">Экономьте время,<br>without compromising taste!</h3><a
                class="button-other banner__left-btn" href="#program">
                <h3>Become a Partner</h3><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect width="30" height="30" fill="currentColor" />
                  <mask id="mask0_13_514" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                    height="20">
                    <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_13_514)">
                    <path
                      d="M18.125 15.75H9V14.25H18.125L13.9375 10.0625L15 9L21 15L15 21L13.9375 19.9375L18.125 15.75Z"
                      fill="white" />
                  </g>
                </svg>
              </a>
            </div>
            <div class="banner__right">
              <div class="banner__right-img"> <img src="/img/banner-bg.png" alt="banner"></div>
              <div class="banner__right-product"> <img src="/img/product-item.png" alt="product"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner-item">
            <div class="banner__left">
              <h2 class="banner__left-title">Fast and<br>tasty!</h2>
              <h3 class="banner__left-subtitle">Экономьте время,<br>without compromising taste!</h3><a
                class="button-other banner__left-btn" href="#program">
                <h3>Become a Partner</h3><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect width="30" height="30" fill="currentColor" />
                  <mask id="mask0_13_514" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                    height="20">
                    <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_13_514)">
                    <path
                      d="M18.125 15.75H9V14.25H18.125L13.9375 10.0625L15 9L21 15L15 21L13.9375 19.9375L18.125 15.75Z"
                      fill="white" />
                  </g>
                </svg>
              </a>
            </div>
            <div class="banner__right">
              <div class="banner__right-img"> <img src="/img/banner-bg.png" alt="banner"></div>
              <div class="banner__right-product"> <img src="/img/product-item.png" alt="product"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination mySwiperPagination"></div>
    </div>
  </div>
  <main class="main">
    <div class="container">
      <div class="facts">
        <div class="facts__top">
          <div class="facts__top-left">
            <div class="facts-title">with Mali, you</div>
            <div class="facts-subtitle">cook<br>fast and delicious!</div>
          </div>
          <div class="facts__top-right">
            <div class="facts__list-top">
              <div class="facts__list-item"><svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_102_31" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                    height="40">
                    <rect width="40" height="40" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_102_31)">
                    <path
                      d="M19.9029 22.1388L7.98621 34.0279C7.7176 34.2963 7.39579 34.4328 7.02079 34.4375C6.64579 34.4422 6.31941 34.3057 6.04163 34.0279C5.77302 33.7593 5.63871 33.4352 5.63871 33.0554C5.63871 32.676 5.77302 32.352 6.04163 32.0833L22.4304 15.6946C21.8565 14.4168 21.7408 13.0557 22.0833 11.6113C22.4258 10.1668 23.2175 8.83348 24.4583 7.61126C25.7825 6.3057 27.338 5.49543 29.125 5.18043C30.9119 4.86571 32.3748 5.27779 33.5137 6.41668C34.6712 7.57418 35.0833 9.03709 34.75 10.8054C34.4166 12.574 33.5694 14.1482 32.2083 15.5279C31.0602 16.7129 29.7732 17.486 28.347 17.8471C26.9212 18.2082 25.6065 18.1296 24.4029 17.6113L21.847 20.1667L33.7637 32.0833C34.0323 32.352 34.169 32.6738 34.1737 33.0488C34.1782 33.4238 34.0415 33.7501 33.7637 34.0279C33.4954 34.2963 33.1714 34.4304 32.7916 34.4304C32.4119 34.4304 32.0879 34.2963 31.8195 34.0279L19.9029 22.1388ZM12.125 20.5L7.15288 15.5279C5.9676 14.3426 5.24538 12.8982 4.98621 11.1946C4.72677 9.4907 5.06927 7.93515 6.01371 6.52793C6.26371 6.16682 6.59941 5.95848 7.02079 5.90293C7.44218 5.84737 7.81482 5.98626 8.13871 6.31959L17.2083 15.4167L12.125 20.5Z"
                      fill="#E80029" />
                  </g>
                </svg>
                <div class="facts__list-texts">
                  <h3>You cook quickly</h3>
                  <p>saving time to spend with your family!</p>
                </div>
              </div>
              <div class="facts__list-item"><svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_16_218" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                    height="40">
                    <rect width="40" height="40" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_16_218)">
                    <path
                      d="M21.4445 29.1946C22.7779 28.5371 24.095 28.044 25.3958 27.7154C26.6966 27.3865 28.0647 27.2221 29.5 27.2221C30.5369 27.2221 31.5901 27.3054 32.6595 27.4721C33.729 27.6387 34.6943 27.8703 35.5554 28.1667V10.75C34.6204 10.3055 33.6366 9.9768 32.6041 9.76374C31.5716 9.55096 30.5369 9.44457 29.5 9.44457C28.0647 9.44457 26.6665 9.65291 25.3054 10.0696C23.9443 10.4862 22.6573 11.0835 21.4445 11.8612V29.1946ZM20.0554 32.7362C19.7776 32.7362 19.5207 32.7061 19.2845 32.6458C19.0484 32.5855 18.8332 32.4907 18.6387 32.3612C17.4073 31.6112 16.1018 31.0349 14.722 30.6321C13.3426 30.2293 11.9352 30.0279 10.5 30.0279C9.42579 30.0279 8.37718 30.1621 7.35413 30.4304C6.33107 30.699 5.32413 31.0462 4.33329 31.4721C3.71302 31.7776 3.11343 31.7453 2.53454 31.375C1.95593 31.0047 1.66663 30.4724 1.66663 29.7779V10.2221C1.66663 9.84263 1.7569 9.49082 1.93746 9.16666C2.11801 8.84249 2.38885 8.59249 2.74996 8.41666C3.96302 7.83332 5.21996 7.39582 6.52079 7.10416C7.82163 6.81249 9.14802 6.66666 10.5 6.66666C12.2036 6.66666 13.8633 6.89346 15.4791 7.34707C17.095 7.80096 18.6204 8.49082 20.0554 9.41666C21.472 8.49082 22.979 7.80096 24.5762 7.34707C26.1734 6.89346 27.8147 6.66666 29.5 6.66666C30.8519 6.66666 32.1737 6.81249 33.4654 7.10416C34.757 7.39582 36.0093 7.83332 37.222 8.41666C37.5832 8.59249 37.8587 8.84249 38.0487 9.16666C38.2384 9.49082 38.3333 9.84263 38.3333 10.2221V29.7779C38.3333 30.5093 38.0347 31.0648 37.4375 31.4446C36.8402 31.824 36.2407 31.8332 35.6387 31.4721C34.6665 31.0276 33.6688 30.6758 32.6458 30.4167C31.6227 30.1575 30.5741 30.0279 29.5 30.0279C28.0833 30.0279 26.6944 30.2293 25.3333 30.6321C23.9722 31.0349 22.6851 31.6112 21.472 32.3612C21.2776 32.4907 21.0623 32.5855 20.8262 32.6458C20.5901 32.7061 20.3332 32.7362 20.0554 32.7362ZM23.3333 14.6529C23.3333 14.4585 23.4004 14.2662 23.5345 14.0762C23.669 13.8865 23.8195 13.7593 23.9862 13.6946C24.8101 13.3982 25.648 13.1712 26.5 13.0137C27.3519 12.8565 28.2408 12.7779 29.1666 12.7779C29.7591 12.7779 30.3401 12.8126 30.9095 12.8821C31.479 12.9515 32.0369 13.051 32.5833 13.1804C32.7777 13.236 32.9513 13.3518 33.1041 13.5279C33.2569 13.7037 33.3333 13.9028 33.3333 14.125C33.3333 14.4861 33.2129 14.7593 32.972 14.9446C32.7315 15.1296 32.4307 15.1758 32.0695 15.0833C31.6251 14.963 31.1598 14.8728 30.6737 14.8125C30.1876 14.7522 29.6852 14.7221 29.1666 14.7221C28.3888 14.7221 27.6343 14.7962 26.9029 14.9446C26.1712 15.0926 25.4582 15.3055 24.7637 15.5833C24.3379 15.7408 23.993 15.7315 23.7291 15.5554C23.4652 15.3796 23.3333 15.0787 23.3333 14.6529ZM23.3333 23.8196C23.3333 23.6251 23.4004 23.4283 23.5345 23.2292C23.669 23.03 23.8195 22.898 23.9862 22.8333C24.8101 22.5369 25.648 22.3147 26.5 22.1667C27.3519 22.0186 28.2408 21.9446 29.1666 21.9446C29.7591 21.9446 30.3401 21.9793 30.9095 22.0487C31.479 22.1182 32.0369 22.2176 32.5833 22.3471C32.7777 22.4026 32.9513 22.5185 33.1041 22.6946C33.2569 22.8704 33.3333 23.0694 33.3333 23.2917C33.3333 23.6528 33.2129 23.926 32.972 24.1112C32.7315 24.2962 32.4307 24.3425 32.0695 24.25C31.6251 24.1297 31.1598 24.0394 30.6737 23.9792C30.1876 23.9189 29.6852 23.8887 29.1666 23.8887C28.3888 23.8887 27.6343 23.956 26.9029 24.0904C26.1712 24.2246 25.4582 24.4305 24.7637 24.7083C24.3379 24.8658 23.993 24.8635 23.7291 24.7012C23.4652 24.5393 23.3333 24.2454 23.3333 23.8196ZM23.3333 19.2362C23.3333 19.0418 23.4004 18.8496 23.5345 18.6596C23.669 18.4699 23.8195 18.3426 23.9862 18.2779C24.8101 17.9815 25.648 17.7546 26.5 17.5971C27.3519 17.4399 28.2408 17.3612 29.1666 17.3612C29.7591 17.3612 30.3401 17.396 30.9095 17.4654C31.479 17.5349 32.0369 17.6343 32.5833 17.7637C32.7777 17.8193 32.9513 17.9351 33.1041 18.1112C33.2569 18.2871 33.3333 18.4861 33.3333 18.7083C33.3333 19.0694 33.2129 19.3426 32.972 19.5279C32.7315 19.7129 32.4307 19.7592 32.0695 19.6667C31.6251 19.5464 31.1598 19.4561 30.6737 19.3958C30.1876 19.3355 29.6852 19.3054 29.1666 19.3054C28.3888 19.3054 27.6343 19.3796 26.9029 19.5279C26.1712 19.676 25.4582 19.8889 24.7637 20.1667C24.3379 20.3242 23.993 20.3149 23.7291 20.1387C23.4652 19.9629 23.3333 19.6621 23.3333 19.2362Z"
                      fill="#E80029" />
                  </g>
                </svg>
                <div class="facts__list-texts">
                  <h3>Menu variety</h3>
                  <p>a wide variety of dishes for every taste</p>
                </div>
              </div>
              <div class="facts__list-item"><svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_16_219" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                    height="40">
                    <rect width="40" height="40" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_16_219)">
                    <path
                      d="M25 33.3333C21.2778 33.3333 18.125 32.0417 15.5417 29.4583C12.9584 26.875 11.6667 23.7222 11.6667 20C11.6667 16.2869 12.9584 13.1365 15.5417 10.5487C18.125 7.96068 21.2778 6.66666 25 6.66666C28.7131 6.66666 31.8635 7.96068 34.4513 10.5487C37.0393 13.1365 38.3334 16.2869 38.3334 20C38.3334 23.7222 37.0393 26.875 34.4513 29.4583C31.8635 32.0417 28.7131 33.3333 25 33.3333ZM26.3888 19.4167V14.7221C26.3888 14.3426 26.2557 14.0162 25.9896 13.7429C25.7235 13.4699 25.3936 13.3333 25 13.3333C24.6064 13.3333 24.2765 13.4653 24.0104 13.7292C23.7443 13.993 23.6113 14.324 23.6113 14.7221V20.0137C23.6113 20.191 23.646 20.3626 23.7154 20.5287C23.7849 20.6949 23.889 20.8474 24.0279 20.9862L28.125 25.0554C28.3992 25.3332 28.7246 25.4721 29.1013 25.4721C29.4782 25.4721 29.8056 25.3347 30.0834 25.06C30.3611 24.785 30.5 24.4586 30.5 24.0808C30.5 23.7028 30.3611 23.3749 30.0834 23.0971L26.3888 19.4167ZM4.7221 14.7221C4.32877 14.7221 3.99891 14.5886 3.73252 14.3217C3.46641 14.0544 3.33335 13.7233 3.33335 13.3283C3.33335 12.9336 3.46641 12.6043 3.73252 12.3404C3.99891 12.0765 4.32877 11.9446 4.7221 11.9446H8.61127C9.0046 11.9446 9.33447 12.078 9.60085 12.345C9.86697 12.6122 10 12.9433 10 13.3383C10 13.733 9.86697 14.0624 9.60085 14.3262C9.33447 14.5901 9.0046 14.7221 8.61127 14.7221H4.7221ZM3.05544 21.3887C2.6621 21.3887 2.33224 21.2553 2.06585 20.9883C1.79974 20.7211 1.66669 20.39 1.66669 19.995C1.66669 19.6003 1.79974 19.271 2.06585 19.0071C2.33224 18.7432 2.6621 18.6112 3.05544 18.6112H8.61127C9.0046 18.6112 9.33447 18.7447 9.60085 19.0117C9.86697 19.2789 10 19.61 10 20.005C10 20.3997 9.86697 20.729 9.60085 20.9929C9.33447 21.2568 9.0046 21.3887 8.61127 21.3887H3.05544ZM4.7221 28.0554C4.32877 28.0554 3.99891 27.9219 3.73252 27.655C3.46641 27.3878 3.33335 27.0567 3.33335 26.6617C3.33335 26.2669 3.46641 25.9376 3.73252 25.6737C3.99891 25.4099 4.32877 25.2779 4.7221 25.2779H8.61127C9.0046 25.2779 9.33447 25.4114 9.60085 25.6783C9.86697 25.9455 10 26.2767 10 26.6717C10 27.0664 9.86697 27.3957 9.60085 27.6596C9.33447 27.9235 9.0046 28.0554 8.61127 28.0554H4.7221Z"
                      fill="#E80029" />
                  </g>
                </svg>
                <div class="facts__list-texts">
                  <h3>Time-saving</h3>
                  <p>no more long hours spent in the kitchen</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="facts__bottom">
          <div class="facts__bottom-item">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_13_963" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                height="40">
                <rect width="40" height="40" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_13_963)">
                <path
                  d="M16.25 36.6666C13.4631 36.6666 10.9932 35.7198 8.84042 33.8262C6.68764 31.9329 5.4075 29.6065 5 26.8471C4.94444 26.4212 5.05097 26.0532 5.31958 25.7429C5.58792 25.4329 5.94431 25.2779 6.38875 25.2779H24.7362L26.5971 7.49998C26.736 6.32415 27.2476 5.33568 28.1321 4.53456C29.0163 3.73373 30.0649 3.33331 31.2779 3.33331C32.5926 3.33331 33.7083 3.79165 34.625 4.70831C35.5417 5.62498 36 6.74067 36 8.0554V8.49998C36 8.89804 35.8681 9.22901 35.6042 9.4929C35.3403 9.75679 35.0093 9.88873 34.6112 9.88873C34.2129 9.88873 33.8818 9.75679 33.6179 9.4929C33.354 9.22901 33.2221 8.89804 33.2221 8.49998V8.0554C33.2221 7.50929 33.0346 7.04873 32.6596 6.67373C32.2846 6.29873 31.824 6.11123 31.2779 6.11123C30.7593 6.11123 30.3194 6.28012 29.9583 6.6179C29.5972 6.95595 29.3889 7.3704 29.3333 7.86123L27.4167 26.2637C27.1111 29.2082 25.8982 31.6782 23.7779 33.6737C21.6574 35.669 19.1481 36.6666 16.25 36.6666ZM10.2362 22.5C9.81958 22.5 9.52792 22.3773 9.36125 22.1321C9.19458 21.8865 9.14819 21.5508 9.22208 21.125C9.26847 20.9305 9.29403 20.743 9.29875 20.5625C9.30319 20.3819 9.30542 20.1944 9.30542 20C9.30542 19.0741 9.02764 18.0232 8.47208 16.8471C7.91653 15.6712 7.63875 14.7083 7.63875 13.9583C7.63875 13.7083 7.65264 13.4421 7.68042 13.1596C7.70819 12.8773 7.79153 12.5926 7.93042 12.3054C8.00458 12.1387 8.13431 11.9907 8.31958 11.8612C8.50458 11.7315 8.70819 11.6666 8.93042 11.6666C9.33792 11.6666 9.63653 11.794 9.82625 12.0487C10.0162 12.3032 10.0649 12.6341 9.97208 13.0416C9.93514 13.1991 9.89819 13.5047 9.86125 13.9583C9.86125 14.8008 10.139 15.7869 10.6946 16.9166C11.2501 18.0464 11.5279 19.0741 11.5279 20C11.5279 20.398 11.5047 20.7453 11.4583 21.0416C11.4119 21.338 11.3379 21.6112 11.2362 21.8612C11.1621 22.0279 11.0278 22.176 10.8333 22.3054C10.6389 22.4351 10.4399 22.5 10.2362 22.5ZM21.0696 22.5C20.6529 22.5 20.3613 22.3773 20.1946 22.1321C20.0279 21.8865 19.9815 21.5508 20.0554 21.125C20.1018 20.9305 20.1274 20.743 20.1321 20.5625C20.1365 20.3819 20.1388 20.1944 20.1388 20C20.1388 19.0741 19.861 18.0232 19.3054 16.8471C18.7499 15.6712 18.4721 14.7083 18.4721 13.9583C18.4721 13.7083 18.486 13.4421 18.5138 13.1596C18.5415 12.8773 18.6249 12.5926 18.7638 12.3054C18.8379 12.1387 18.9676 11.9907 19.1529 11.8612C19.3379 11.7315 19.5415 11.6666 19.7638 11.6666C20.1713 11.6666 20.4699 11.794 20.6596 12.0487C20.8496 12.3032 20.8982 12.6341 20.8054 13.0416C20.7685 13.1991 20.7315 13.5047 20.6946 13.9583C20.6946 14.8008 20.9724 15.7869 21.5279 16.9166C22.0835 18.0464 22.3612 19.0741 22.3612 20C22.3612 20.398 22.3381 20.7453 22.2917 21.0416C22.2453 21.338 22.1713 21.6112 22.0696 21.8612C21.9954 22.0279 21.8611 22.176 21.6667 22.3054C21.4722 22.4351 21.2732 22.5 21.0696 22.5ZM15.6529 22.5C15.2363 22.5 14.9446 22.3773 14.7779 22.1321C14.6112 21.8865 14.5649 21.5508 14.6387 21.125C14.6851 20.9305 14.7107 20.743 14.7154 20.5625C14.7199 20.3819 14.7221 20.1944 14.7221 20C14.7221 19.0741 14.4443 18.0232 13.8887 16.8471C13.3332 15.6712 13.0554 14.7083 13.0554 13.9583C13.0554 13.7083 13.0693 13.4421 13.0971 13.1596C13.1249 12.8773 13.2082 12.5926 13.3471 12.3054C13.4212 12.1387 13.551 11.9907 13.7362 11.8612C13.9213 11.7315 14.1249 11.6666 14.3471 11.6666C14.7546 11.6666 15.0532 11.794 15.2429 12.0487C15.4329 12.3032 15.4815 12.6341 15.3887 13.0416C15.3518 13.1991 15.3149 13.5047 15.2779 13.9583C15.2779 14.8008 15.5557 15.7869 16.1113 16.9166C16.6668 18.0464 16.9446 19.0741 16.9446 20C16.9446 20.398 16.9214 20.7453 16.875 21.0416C16.8286 21.338 16.7546 21.6112 16.6529 21.8612C16.5788 22.0279 16.4444 22.176 16.25 22.3054C16.0556 22.4351 15.8565 22.5 15.6529 22.5Z"
                  fill="#E80029" />
              </g>
            </svg>
            <div class="facts__list-texts">
              <h3>Convenience</h3>
              <p>Our products are quick and easy to prepare</p>
            </div>
          </div>
          <div class="facts__bottom-item">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_16_221" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                height="40">
                <rect width="40" height="40" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_16_221)">
                <path
                  d="M20 26.6667C21.3334 26.6667 22.5209 26.2708 23.5625 25.4792C24.6042 24.6875 25.3612 23.6667 25.8334 22.4167H14.1667C14.6389 23.6667 15.3959 24.6875 16.4375 25.4792C17.4792 26.2708 18.6667 26.6667 20 26.6667ZM15.8334 20C16.5278 20 17.1181 19.7569 17.6042 19.2708C18.0903 18.7847 18.3334 18.1944 18.3334 17.5C18.3334 16.8056 18.0903 16.2153 17.6042 15.7292C17.1181 15.2431 16.5278 15 15.8334 15C15.1389 15 14.5487 15.2431 14.0625 15.7292C13.5764 16.2153 13.3334 16.8056 13.3334 17.5C13.3334 18.1944 13.5764 18.7847 14.0625 19.2708C14.5487 19.7569 15.1389 20 15.8334 20ZM24.1667 20C24.8612 20 25.4514 19.7569 25.9375 19.2708C26.4237 18.7847 26.6667 18.1944 26.6667 17.5C26.6667 16.8056 26.4237 16.2153 25.9375 15.7292C25.4514 15.2431 24.8612 15 24.1667 15C23.4723 15 22.882 15.2431 22.3959 15.7292C21.9098 16.2153 21.6667 16.8056 21.6667 17.5C21.6667 18.1944 21.9098 18.7847 22.3959 19.2708C22.882 19.7569 23.4723 20 24.1667 20ZM12.7592 10.755L17.5696 4.51375C17.8843 4.10653 18.2531 3.80334 18.6759 3.60417C19.0989 3.405 19.5412 3.30542 20.0025 3.30542C20.4639 3.30542 20.9052 3.405 21.3263 3.60417C21.7477 3.80334 22.1157 4.10653 22.4305 4.51375L27.2409 10.755L34.5417 13.2083C35.2084 13.4306 35.7316 13.8182 36.1113 14.3713C36.4907 14.924 36.6805 15.5349 36.6805 16.2038C36.6805 16.5124 36.6362 16.8207 36.5475 17.1288C36.4592 17.4365 36.3138 17.7315 36.1113 18.0138L31.4167 24.7083L31.5834 31.7917C31.5925 32.6897 31.2916 33.449 30.6805 34.0696C30.0693 34.6899 29.3456 35 28.5092 35C28.4567 35 28.1805 34.9583 27.6805 34.875L20 32.7363L12.3255 34.8729C12.1827 34.9299 12.0324 34.9653 11.8746 34.9792C11.7171 34.9931 11.5727 35 11.4413 35C10.6007 35 9.87962 34.6881 9.27796 34.0642C8.67601 33.4403 8.38893 32.6735 8.41671 31.7638L8.58337 24.6596L3.90296 17.9863C3.70046 17.7024 3.5549 17.4056 3.46629 17.0958C3.37768 16.7861 3.33337 16.4764 3.33337 16.1667C3.33337 15.5092 3.52018 14.9086 3.89379 14.365C4.26712 13.8214 4.78865 13.4358 5.45837 13.2083L12.7592 10.755Z"
                  fill="#E80029" />
              </g>
            </svg>
            <div class="facts__list-texts">
              <h3>Confidence</h3>
              <p>Mali products are of high quality and safe</p>
            </div>
          </div>
          <div class="facts__bottom-item">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_16_220" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                height="40">
                <rect width="40" height="40" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_16_220)">
                <path
                  d="M20 14.6666C18.4258 14.6666 17.0879 14.1157 15.9862 13.0137C14.8843 11.9121 14.3333 10.5741 14.3333 8.99998C14.3333 7.42581 14.8843 6.0879 15.9862 4.98623C17.0879 3.88428 18.4258 3.33331 20 3.33331C21.5741 3.33331 22.9121 3.88428 24.0137 4.98623C25.1157 6.0879 25.6666 7.42581 25.6666 8.99998C25.6666 10.5741 25.1157 11.9121 24.0137 13.0137C22.9121 14.1157 21.5741 14.6666 20 14.6666ZM18.0416 34.7083L9.99998 26.6666C9.48137 26.148 9.07401 25.5276 8.7779 24.8054C8.48151 24.0832 8.33331 23.2591 8.33331 22.3333C8.33331 20.75 8.88651 19.4051 9.9929 18.2987C11.0996 17.1921 12.4446 16.6387 14.0279 16.6387C14.7779 16.6387 15.4746 16.8008 16.1179 17.125C16.7615 17.4491 17.3333 17.8612 17.8333 18.3612L20 20.5279L22.1666 18.3612C22.6666 17.8612 23.2385 17.4491 23.8821 17.125C24.5254 16.8008 25.2221 16.6387 25.9721 16.6387C27.5554 16.6387 28.9004 17.1921 30.0071 18.2987C31.1135 19.4051 31.6666 20.75 31.6666 22.3333C31.6666 23.2591 31.5185 24.0832 31.2221 24.8054C30.926 25.5276 30.5186 26.148 30 26.6666L21.9583 34.7083C21.6805 34.9861 21.3704 35.1898 21.0279 35.3196C20.6851 35.449 20.3425 35.5137 20 35.5137C19.6575 35.5137 19.3148 35.449 18.9721 35.3196C18.6296 35.1898 18.3194 34.9861 18.0416 34.7083Z"
                  fill="#E80029" />
              </g>
            </svg>
            <div class="facts__list-texts">
              <h3>Tasty and healthy</h3>
              <p>no chemicals, only natural and fresh products</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="facts__mob">
      <div class="swiper swiperFeatures">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="facts__list-item"><svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_102_31" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_31)">
                  <path
                    d="M19.9029 22.1388L7.98621 34.0279C7.7176 34.2963 7.39579 34.4328 7.02079 34.4375C6.64579 34.4422 6.31941 34.3057 6.04163 34.0279C5.77302 33.7593 5.63871 33.4352 5.63871 33.0554C5.63871 32.676 5.77302 32.352 6.04163 32.0833L22.4304 15.6946C21.8565 14.4168 21.7408 13.0557 22.0833 11.6113C22.4258 10.1668 23.2175 8.83348 24.4583 7.61126C25.7825 6.3057 27.338 5.49543 29.125 5.18043C30.9119 4.86571 32.3748 5.27779 33.5137 6.41668C34.6712 7.57418 35.0833 9.03709 34.75 10.8054C34.4166 12.574 33.5694 14.1482 32.2083 15.5279C31.0602 16.7129 29.7732 17.486 28.347 17.8471C26.9212 18.2082 25.6065 18.1296 24.4029 17.6113L21.847 20.1667L33.7637 32.0833C34.0323 32.352 34.169 32.6738 34.1737 33.0488C34.1782 33.4238 34.0415 33.7501 33.7637 34.0279C33.4954 34.2963 33.1714 34.4304 32.7916 34.4304C32.4119 34.4304 32.0879 34.2963 31.8195 34.0279L19.9029 22.1388ZM12.125 20.5L7.15288 15.5279C5.9676 14.3426 5.24538 12.8982 4.98621 11.1946C4.72677 9.4907 5.06927 7.93515 6.01371 6.52793C6.26371 6.16682 6.59941 5.95848 7.02079 5.90293C7.44218 5.84737 7.81482 5.98626 8.13871 6.31959L17.2083 15.4167L12.125 20.5Z"
                    fill="#E80029" />
                </g>
              </svg>
              <div class="facts__list-texts">
                <h3>You cook quickly</h3>
                <p>saving time to spend with your family!</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="facts__list-item"><svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_16_218" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_16_218)">
                  <path
                    d="M21.4445 29.1946C22.7779 28.5371 24.095 28.044 25.3958 27.7154C26.6966 27.3865 28.0647 27.2221 29.5 27.2221C30.5369 27.2221 31.5901 27.3054 32.6595 27.4721C33.729 27.6387 34.6943 27.8703 35.5554 28.1667V10.75C34.6204 10.3055 33.6366 9.9768 32.6041 9.76374C31.5716 9.55096 30.5369 9.44457 29.5 9.44457C28.0647 9.44457 26.6665 9.65291 25.3054 10.0696C23.9443 10.4862 22.6573 11.0835 21.4445 11.8612V29.1946ZM20.0554 32.7362C19.7776 32.7362 19.5207 32.7061 19.2845 32.6458C19.0484 32.5855 18.8332 32.4907 18.6387 32.3612C17.4073 31.6112 16.1018 31.0349 14.722 30.6321C13.3426 30.2293 11.9352 30.0279 10.5 30.0279C9.42579 30.0279 8.37718 30.1621 7.35413 30.4304C6.33107 30.699 5.32413 31.0462 4.33329 31.4721C3.71302 31.7776 3.11343 31.7453 2.53454 31.375C1.95593 31.0047 1.66663 30.4724 1.66663 29.7779V10.2221C1.66663 9.84263 1.7569 9.49082 1.93746 9.16666C2.11801 8.84249 2.38885 8.59249 2.74996 8.41666C3.96302 7.83332 5.21996 7.39582 6.52079 7.10416C7.82163 6.81249 9.14802 6.66666 10.5 6.66666C12.2036 6.66666 13.8633 6.89346 15.4791 7.34707C17.095 7.80096 18.6204 8.49082 20.0554 9.41666C21.472 8.49082 22.979 7.80096 24.5762 7.34707C26.1734 6.89346 27.8147 6.66666 29.5 6.66666C30.8519 6.66666 32.1737 6.81249 33.4654 7.10416C34.757 7.39582 36.0093 7.83332 37.222 8.41666C37.5832 8.59249 37.8587 8.84249 38.0487 9.16666C38.2384 9.49082 38.3333 9.84263 38.3333 10.2221V29.7779C38.3333 30.5093 38.0347 31.0648 37.4375 31.4446C36.8402 31.824 36.2407 31.8332 35.6387 31.4721C34.6665 31.0276 33.6688 30.6758 32.6458 30.4167C31.6227 30.1575 30.5741 30.0279 29.5 30.0279C28.0833 30.0279 26.6944 30.2293 25.3333 30.6321C23.9722 31.0349 22.6851 31.6112 21.472 32.3612C21.2776 32.4907 21.0623 32.5855 20.8262 32.6458C20.5901 32.7061 20.3332 32.7362 20.0554 32.7362ZM23.3333 14.6529C23.3333 14.4585 23.4004 14.2662 23.5345 14.0762C23.669 13.8865 23.8195 13.7593 23.9862 13.6946C24.8101 13.3982 25.648 13.1712 26.5 13.0137C27.3519 12.8565 28.2408 12.7779 29.1666 12.7779C29.7591 12.7779 30.3401 12.8126 30.9095 12.8821C31.479 12.9515 32.0369 13.051 32.5833 13.1804C32.7777 13.236 32.9513 13.3518 33.1041 13.5279C33.2569 13.7037 33.3333 13.9028 33.3333 14.125C33.3333 14.4861 33.2129 14.7593 32.972 14.9446C32.7315 15.1296 32.4307 15.1758 32.0695 15.0833C31.6251 14.963 31.1598 14.8728 30.6737 14.8125C30.1876 14.7522 29.6852 14.7221 29.1666 14.7221C28.3888 14.7221 27.6343 14.7962 26.9029 14.9446C26.1712 15.0926 25.4582 15.3055 24.7637 15.5833C24.3379 15.7408 23.993 15.7315 23.7291 15.5554C23.4652 15.3796 23.3333 15.0787 23.3333 14.6529ZM23.3333 23.8196C23.3333 23.6251 23.4004 23.4283 23.5345 23.2292C23.669 23.03 23.8195 22.898 23.9862 22.8333C24.8101 22.5369 25.648 22.3147 26.5 22.1667C27.3519 22.0186 28.2408 21.9446 29.1666 21.9446C29.7591 21.9446 30.3401 21.9793 30.9095 22.0487C31.479 22.1182 32.0369 22.2176 32.5833 22.3471C32.7777 22.4026 32.9513 22.5185 33.1041 22.6946C33.2569 22.8704 33.3333 23.0694 33.3333 23.2917C33.3333 23.6528 33.2129 23.926 32.972 24.1112C32.7315 24.2962 32.4307 24.3425 32.0695 24.25C31.6251 24.1297 31.1598 24.0394 30.6737 23.9792C30.1876 23.9189 29.6852 23.8887 29.1666 23.8887C28.3888 23.8887 27.6343 23.956 26.9029 24.0904C26.1712 24.2246 25.4582 24.4305 24.7637 24.7083C24.3379 24.8658 23.993 24.8635 23.7291 24.7012C23.4652 24.5393 23.3333 24.2454 23.3333 23.8196ZM23.3333 19.2362C23.3333 19.0418 23.4004 18.8496 23.5345 18.6596C23.669 18.4699 23.8195 18.3426 23.9862 18.2779C24.8101 17.9815 25.648 17.7546 26.5 17.5971C27.3519 17.4399 28.2408 17.3612 29.1666 17.3612C29.7591 17.3612 30.3401 17.396 30.9095 17.4654C31.479 17.5349 32.0369 17.6343 32.5833 17.7637C32.7777 17.8193 32.9513 17.9351 33.1041 18.1112C33.2569 18.2871 33.3333 18.4861 33.3333 18.7083C33.3333 19.0694 33.2129 19.3426 32.972 19.5279C32.7315 19.7129 32.4307 19.7592 32.0695 19.6667C31.6251 19.5464 31.1598 19.4561 30.6737 19.3958C30.1876 19.3355 29.6852 19.3054 29.1666 19.3054C28.3888 19.3054 27.6343 19.3796 26.9029 19.5279C26.1712 19.676 25.4582 19.8889 24.7637 20.1667C24.3379 20.3242 23.993 20.3149 23.7291 20.1387C23.4652 19.9629 23.3333 19.6621 23.3333 19.2362Z"
                    fill="#E80029" />
                </g>
              </svg>
              <div class="facts__list-texts">
                <h3>Menu variety</h3>
                <p>a wide variety of dishes for every taste</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="facts__list-item"><svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_16_219" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_16_219)">
                  <path
                    d="M25 33.3333C21.2778 33.3333 18.125 32.0417 15.5417 29.4583C12.9584 26.875 11.6667 23.7222 11.6667 20C11.6667 16.2869 12.9584 13.1365 15.5417 10.5487C18.125 7.96068 21.2778 6.66666 25 6.66666C28.7131 6.66666 31.8635 7.96068 34.4513 10.5487C37.0393 13.1365 38.3334 16.2869 38.3334 20C38.3334 23.7222 37.0393 26.875 34.4513 29.4583C31.8635 32.0417 28.7131 33.3333 25 33.3333ZM26.3888 19.4167V14.7221C26.3888 14.3426 26.2557 14.0162 25.9896 13.7429C25.7235 13.4699 25.3936 13.3333 25 13.3333C24.6064 13.3333 24.2765 13.4653 24.0104 13.7292C23.7443 13.993 23.6113 14.324 23.6113 14.7221V20.0137C23.6113 20.191 23.646 20.3626 23.7154 20.5287C23.7849 20.6949 23.889 20.8474 24.0279 20.9862L28.125 25.0554C28.3992 25.3332 28.7246 25.4721 29.1013 25.4721C29.4782 25.4721 29.8056 25.3347 30.0834 25.06C30.3611 24.785 30.5 24.4586 30.5 24.0808C30.5 23.7028 30.3611 23.3749 30.0834 23.0971L26.3888 19.4167ZM4.7221 14.7221C4.32877 14.7221 3.99891 14.5886 3.73252 14.3217C3.46641 14.0544 3.33335 13.7233 3.33335 13.3283C3.33335 12.9336 3.46641 12.6043 3.73252 12.3404C3.99891 12.0765 4.32877 11.9446 4.7221 11.9446H8.61127C9.0046 11.9446 9.33447 12.078 9.60085 12.345C9.86697 12.6122 10 12.9433 10 13.3383C10 13.733 9.86697 14.0624 9.60085 14.3262C9.33447 14.5901 9.0046 14.7221 8.61127 14.7221H4.7221ZM3.05544 21.3887C2.6621 21.3887 2.33224 21.2553 2.06585 20.9883C1.79974 20.7211 1.66669 20.39 1.66669 19.995C1.66669 19.6003 1.79974 19.271 2.06585 19.0071C2.33224 18.7432 2.6621 18.6112 3.05544 18.6112H8.61127C9.0046 18.6112 9.33447 18.7447 9.60085 19.0117C9.86697 19.2789 10 19.61 10 20.005C10 20.3997 9.86697 20.729 9.60085 20.9929C9.33447 21.2568 9.0046 21.3887 8.61127 21.3887H3.05544ZM4.7221 28.0554C4.32877 28.0554 3.99891 27.9219 3.73252 27.655C3.46641 27.3878 3.33335 27.0567 3.33335 26.6617C3.33335 26.2669 3.46641 25.9376 3.73252 25.6737C3.99891 25.4099 4.32877 25.2779 4.7221 25.2779H8.61127C9.0046 25.2779 9.33447 25.4114 9.60085 25.6783C9.86697 25.9455 10 26.2767 10 26.6717C10 27.0664 9.86697 27.3957 9.60085 27.6596C9.33447 27.9235 9.0046 28.0554 8.61127 28.0554H4.7221Z"
                    fill="#E80029" />
                </g>
              </svg>
              <div class="facts__list-texts">
                <h3>Time-saving</h3>
                <p>no more long hours spent in the kitchen</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="facts__list-item">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_13_963" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_13_963)">
                  <path
                    d="M16.25 36.6666C13.4631 36.6666 10.9932 35.7198 8.84042 33.8262C6.68764 31.9329 5.4075 29.6065 5 26.8471C4.94444 26.4212 5.05097 26.0532 5.31958 25.7429C5.58792 25.4329 5.94431 25.2779 6.38875 25.2779H24.7362L26.5971 7.49998C26.736 6.32415 27.2476 5.33568 28.1321 4.53456C29.0163 3.73373 30.0649 3.33331 31.2779 3.33331C32.5926 3.33331 33.7083 3.79165 34.625 4.70831C35.5417 5.62498 36 6.74067 36 8.0554V8.49998C36 8.89804 35.8681 9.22901 35.6042 9.4929C35.3403 9.75679 35.0093 9.88873 34.6112 9.88873C34.2129 9.88873 33.8818 9.75679 33.6179 9.4929C33.354 9.22901 33.2221 8.89804 33.2221 8.49998V8.0554C33.2221 7.50929 33.0346 7.04873 32.6596 6.67373C32.2846 6.29873 31.824 6.11123 31.2779 6.11123C30.7593 6.11123 30.3194 6.28012 29.9583 6.6179C29.5972 6.95595 29.3889 7.3704 29.3333 7.86123L27.4167 26.2637C27.1111 29.2082 25.8982 31.6782 23.7779 33.6737C21.6574 35.669 19.1481 36.6666 16.25 36.6666ZM10.2362 22.5C9.81958 22.5 9.52792 22.3773 9.36125 22.1321C9.19458 21.8865 9.14819 21.5508 9.22208 21.125C9.26847 20.9305 9.29403 20.743 9.29875 20.5625C9.30319 20.3819 9.30542 20.1944 9.30542 20C9.30542 19.0741 9.02764 18.0232 8.47208 16.8471C7.91653 15.6712 7.63875 14.7083 7.63875 13.9583C7.63875 13.7083 7.65264 13.4421 7.68042 13.1596C7.70819 12.8773 7.79153 12.5926 7.93042 12.3054C8.00458 12.1387 8.13431 11.9907 8.31958 11.8612C8.50458 11.7315 8.70819 11.6666 8.93042 11.6666C9.33792 11.6666 9.63653 11.794 9.82625 12.0487C10.0162 12.3032 10.0649 12.6341 9.97208 13.0416C9.93514 13.1991 9.89819 13.5047 9.86125 13.9583C9.86125 14.8008 10.139 15.7869 10.6946 16.9166C11.2501 18.0464 11.5279 19.0741 11.5279 20C11.5279 20.398 11.5047 20.7453 11.4583 21.0416C11.4119 21.338 11.3379 21.6112 11.2362 21.8612C11.1621 22.0279 11.0278 22.176 10.8333 22.3054C10.6389 22.4351 10.4399 22.5 10.2362 22.5ZM21.0696 22.5C20.6529 22.5 20.3613 22.3773 20.1946 22.1321C20.0279 21.8865 19.9815 21.5508 20.0554 21.125C20.1018 20.9305 20.1274 20.743 20.1321 20.5625C20.1365 20.3819 20.1388 20.1944 20.1388 20C20.1388 19.0741 19.861 18.0232 19.3054 16.8471C18.7499 15.6712 18.4721 14.7083 18.4721 13.9583C18.4721 13.7083 18.486 13.4421 18.5138 13.1596C18.5415 12.8773 18.6249 12.5926 18.7638 12.3054C18.8379 12.1387 18.9676 11.9907 19.1529 11.8612C19.3379 11.7315 19.5415 11.6666 19.7638 11.6666C20.1713 11.6666 20.4699 11.794 20.6596 12.0487C20.8496 12.3032 20.8982 12.6341 20.8054 13.0416C20.7685 13.1991 20.7315 13.5047 20.6946 13.9583C20.6946 14.8008 20.9724 15.7869 21.5279 16.9166C22.0835 18.0464 22.3612 19.0741 22.3612 20C22.3612 20.398 22.3381 20.7453 22.2917 21.0416C22.2453 21.338 22.1713 21.6112 22.0696 21.8612C21.9954 22.0279 21.8611 22.176 21.6667 22.3054C21.4722 22.4351 21.2732 22.5 21.0696 22.5ZM15.6529 22.5C15.2363 22.5 14.9446 22.3773 14.7779 22.1321C14.6112 21.8865 14.5649 21.5508 14.6387 21.125C14.6851 20.9305 14.7107 20.743 14.7154 20.5625C14.7199 20.3819 14.7221 20.1944 14.7221 20C14.7221 19.0741 14.4443 18.0232 13.8887 16.8471C13.3332 15.6712 13.0554 14.7083 13.0554 13.9583C13.0554 13.7083 13.0693 13.4421 13.0971 13.1596C13.1249 12.8773 13.2082 12.5926 13.3471 12.3054C13.4212 12.1387 13.551 11.9907 13.7362 11.8612C13.9213 11.7315 14.1249 11.6666 14.3471 11.6666C14.7546 11.6666 15.0532 11.794 15.2429 12.0487C15.4329 12.3032 15.4815 12.6341 15.3887 13.0416C15.3518 13.1991 15.3149 13.5047 15.2779 13.9583C15.2779 14.8008 15.5557 15.7869 16.1113 16.9166C16.6668 18.0464 16.9446 19.0741 16.9446 20C16.9446 20.398 16.9214 20.7453 16.875 21.0416C16.8286 21.338 16.7546 21.6112 16.6529 21.8612C16.5788 22.0279 16.4444 22.176 16.25 22.3054C16.0556 22.4351 15.8565 22.5 15.6529 22.5Z"
                    fill="#E80029" />
                </g>
              </svg>
              <div class="facts__list-texts">
                <h3>Convenience</h3>
                <p>Our products are quick and easy to prepare</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="facts__list-item">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_16_221" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_16_221)">
                  <path
                    d="M20 26.6667C21.3334 26.6667 22.5209 26.2708 23.5625 25.4792C24.6042 24.6875 25.3612 23.6667 25.8334 22.4167H14.1667C14.6389 23.6667 15.3959 24.6875 16.4375 25.4792C17.4792 26.2708 18.6667 26.6667 20 26.6667ZM15.8334 20C16.5278 20 17.1181 19.7569 17.6042 19.2708C18.0903 18.7847 18.3334 18.1944 18.3334 17.5C18.3334 16.8056 18.0903 16.2153 17.6042 15.7292C17.1181 15.2431 16.5278 15 15.8334 15C15.1389 15 14.5487 15.2431 14.0625 15.7292C13.5764 16.2153 13.3334 16.8056 13.3334 17.5C13.3334 18.1944 13.5764 18.7847 14.0625 19.2708C14.5487 19.7569 15.1389 20 15.8334 20ZM24.1667 20C24.8612 20 25.4514 19.7569 25.9375 19.2708C26.4237 18.7847 26.6667 18.1944 26.6667 17.5C26.6667 16.8056 26.4237 16.2153 25.9375 15.7292C25.4514 15.2431 24.8612 15 24.1667 15C23.4723 15 22.882 15.2431 22.3959 15.7292C21.9098 16.2153 21.6667 16.8056 21.6667 17.5C21.6667 18.1944 21.9098 18.7847 22.3959 19.2708C22.882 19.7569 23.4723 20 24.1667 20ZM12.7592 10.755L17.5696 4.51375C17.8843 4.10653 18.2531 3.80334 18.6759 3.60417C19.0989 3.405 19.5412 3.30542 20.0025 3.30542C20.4639 3.30542 20.9052 3.405 21.3263 3.60417C21.7477 3.80334 22.1157 4.10653 22.4305 4.51375L27.2409 10.755L34.5417 13.2083C35.2084 13.4306 35.7316 13.8182 36.1113 14.3713C36.4907 14.924 36.6805 15.5349 36.6805 16.2038C36.6805 16.5124 36.6362 16.8207 36.5475 17.1288C36.4592 17.4365 36.3138 17.7315 36.1113 18.0138L31.4167 24.7083L31.5834 31.7917C31.5925 32.6897 31.2916 33.449 30.6805 34.0696C30.0693 34.6899 29.3456 35 28.5092 35C28.4567 35 28.1805 34.9583 27.6805 34.875L20 32.7363L12.3255 34.8729C12.1827 34.9299 12.0324 34.9653 11.8746 34.9792C11.7171 34.9931 11.5727 35 11.4413 35C10.6007 35 9.87962 34.6881 9.27796 34.0642C8.67601 33.4403 8.38893 32.6735 8.41671 31.7638L8.58337 24.6596L3.90296 17.9863C3.70046 17.7024 3.5549 17.4056 3.46629 17.0958C3.37768 16.7861 3.33337 16.4764 3.33337 16.1667C3.33337 15.5092 3.52018 14.9086 3.89379 14.365C4.26712 13.8214 4.78865 13.4358 5.45837 13.2083L12.7592 10.755Z"
                    fill="#E80029" />
                </g>
              </svg>
              <div class="facts__list-texts">
                <h3>Confidence</h3>
                <p>high quality and safety</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="facts__list-item">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_16_220" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_16_220)">
                  <path
                    d="M20 14.6666C18.4258 14.6666 17.0879 14.1157 15.9862 13.0137C14.8843 11.9121 14.3333 10.5741 14.3333 8.99998C14.3333 7.42581 14.8843 6.0879 15.9862 4.98623C17.0879 3.88428 18.4258 3.33331 20 3.33331C21.5741 3.33331 22.9121 3.88428 24.0137 4.98623C25.1157 6.0879 25.6666 7.42581 25.6666 8.99998C25.6666 10.5741 25.1157 11.9121 24.0137 13.0137C22.9121 14.1157 21.5741 14.6666 20 14.6666ZM18.0416 34.7083L9.99998 26.6666C9.48137 26.148 9.07401 25.5276 8.7779 24.8054C8.48151 24.0832 8.33331 23.2591 8.33331 22.3333C8.33331 20.75 8.88651 19.4051 9.9929 18.2987C11.0996 17.1921 12.4446 16.6387 14.0279 16.6387C14.7779 16.6387 15.4746 16.8008 16.1179 17.125C16.7615 17.4491 17.3333 17.8612 17.8333 18.3612L20 20.5279L22.1666 18.3612C22.6666 17.8612 23.2385 17.4491 23.8821 17.125C24.5254 16.8008 25.2221 16.6387 25.9721 16.6387C27.5554 16.6387 28.9004 17.1921 30.0071 18.2987C31.1135 19.4051 31.6666 20.75 31.6666 22.3333C31.6666 23.2591 31.5185 24.0832 31.2221 24.8054C30.926 25.5276 30.5186 26.148 30 26.6666L21.9583 34.7083C21.6805 34.9861 21.3704 35.1898 21.0279 35.3196C20.6851 35.449 20.3425 35.5137 20 35.5137C19.6575 35.5137 19.3148 35.449 18.9721 35.3196C18.6296 35.1898 18.3194 34.9861 18.0416 34.7083Z"
                    fill="#E80029" />
                </g>
              </svg>
              <div class="facts__list-texts">
                <h3>Tasty and healthy</h3>
                <p>no chemicals, only natural products</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination facts-pagination"></div>
      </div>
    </div>
    <div class="container">
      <div class="info">
        <div class="info-img"> <img src="/img/info-img.png" alt="info"></div>
        <div class="info-box">
          <h2 class="info-title">Mali - your reliable <br>kitchen assistant!</h2>
          <h2 class="info-text">Order delivery or find us in stores in your city!</h2>
          <div class="info__btns"> <a class="button-other" href="#program">
              <h3>Become a partner</h3><svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="30" height="30" fill="currentColor" />
                <mask id="mask0_2_306" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                  height="20">
                  <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_2_306)">
                  <path d="M18.125 15.75H9V14.25H18.125L13.9375 10.0625L15 9L21 15L15 21L13.9375 19.9375L18.125 15.75Z"
                    fill="white" />
                </g>
              </svg>
            </a><a class="button-other" href="{{host}}/contact/en">
              <h3>Contacts</h3><svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="30" height="30" fill="currentColor" />
                <mask id="mask0_2_306" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                  height="20">
                  <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_2_306)">
                  <path d="M18.125 15.75H9V14.25H18.125L13.9375 10.0625L15 9L21 15L15 21L13.9375 19.9375L18.125 15.75Z"
                    fill="white" />
                </g>
              </svg>
            </a></div>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <h3 class="product-title">Popular</h3>
          <div class="product__btns">
            <button class="product__btns-item left" type="button"><svg width="20" height="20" viewBox="0 0 20 20"
                fill="black" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_102_5" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_5)">
                  <path
                    d="M6.83333 10L12.7083 15.875C12.9028 16.0695 13 16.3056 13 16.5834C13 16.8612 12.9028 17.0973 12.7083 17.2917C12.5139 17.4862 12.2778 17.5834 12 17.5834C11.7222 17.5834 11.4861 17.4862 11.2917 17.2917L5.0625 11.0625C4.90972 10.9098 4.79861 10.7431 4.72917 10.5625C4.65972 10.382 4.625 10.1945 4.625 10C4.625 9.8056 4.65972 9.61809 4.72917 9.43754C4.79861 9.25698 4.90972 9.09032 5.0625 8.93754L11.2917 2.70837C11.4861 2.51393 11.7222 2.41671 12 2.41671C12.2778 2.41671 12.5139 2.51393 12.7083 2.70837C12.9028 2.90282 13 3.13893 13 3.41671C13 3.69448 12.9028 3.9306 12.7083 4.12504L6.83333 10Z"
                    fill="white" />
                </g>
              </svg>
            </button>
            <button class="product__btns-item right" type="button"><svg width="20" height="20" viewBox="0 0 20 20"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_102_137" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_137)">
                  <path
                    d="M13.1667 9.99996L7.29167 4.12496C7.09722 3.93051 7 3.6944 7 3.41663C7 3.13885 7.09722 2.90274 7.29167 2.70829C7.48611 2.51385 7.72222 2.41663 8 2.41663C8.27778 2.41663 8.51389 2.51385 8.70833 2.70829L14.9375 8.93746C15.0903 9.09024 15.2014 9.2569 15.2708 9.43746C15.3403 9.61801 15.375 9.80551 15.375 9.99996C15.375 10.1944 15.3403 10.3819 15.2708 10.5625C15.2014 10.743 15.0903 10.9097 14.9375 11.0625L8.70833 17.2916C8.51389 17.4861 8.27778 17.5833 8 17.5833C7.72222 17.5833 7.48611 17.4861 7.29167 17.2916C7.09722 17.0972 7 16.8611 7 16.5833C7 16.3055 7.09722 16.0694 7.29167 15.875L13.1667 9.99996Z"
                    fill="white" />
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="product-slider">
      <div class="swiper productSwiper">
        <div class="swiper-wrapper"></div>
      </div>
    </div>
    <div class="container">
      <div class="product-bottom">
        <div class="swiper-pagination productSwiperPagination"> </div><a class="button-other" href="{{host}}/catalog/en">
          <h3>All products</h3><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect width="30" height="30" fill="currentColor" />
            <mask id="mask0_13_989" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
              height="20">
              <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_13_989)">
              <path d="M18.125 15.75H9V14.25H18.125L13.9375 10.0625L15 9L21 15L15 21L13.9375 19.9375L18.125 15.75Z"
                fill="white" />
            </g>
          </svg>
        </a>
      </div>
    </div>
    <section class="program" id="program">
      <div class="program-item first"><img src="/img/pelmeni/item1.png" alt="item" draggable="false"></div>
      <div class="program-item second"><img src="/img/pelmeni/item2.png" alt="item" draggable="false"></div>
      <div class="program-wrapper">
        <div class="program-left">
          <h3 class="program-title">Partnership Program</h3>
          <p class="program-text">Mali actively cooperates with leading retailers and representatives of the HoReCa
            industry, such as:</p>
          <div class="program__left-box">
            <ul class="program__list">
              <li class="program__list-item first"> <img src="/img/partners/el1.png" alt="partner"><img class="inner"
                  src="/img/partners/el3.png" alt="partner"></li>
              <li class="program__list-item second"><img src="/img/partners/el2.png" alt="partner"><img class="inner"
                  src="/img/partners/el4.png" alt="partner"></li>
            </ul><a class="button-other white" href="{{host}}/catalog/en">
              <h3>All Products</h3><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="30" height="30" fill="white" />
                <mask id="mask0_102_779" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                  height="20">
                  <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_779)">
                  <path d="M18.125 15.75H9V14.25H18.125L13.9375 10.0625L15 9L21 15L15 21L13.9375 19.9375L18.125 15.75Z"
                    fill="#E80029" />
                </g>
              </svg>
            </a>
          </div>
        </div>
        <div class="program__right">
          <h3 class="program__right-title">Fill out the application to participate in the program</h3>
          <p class="program__right-text"> and receive exclusive partnership conditions, including specialized product
            lines and marketing support</p>
          <div class="program__right-bottom"><a class="button-other" href="#">
              {{!-- <h3>Presentation</h3>
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="30" height="30" fill="currentColor" />
                <mask id="mask0_102_791" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                  height="20">
                  <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_791)">
                  <path
                    d="M11 19H17V17.5H11V19ZM11 15.75H19V14.25H11V15.75ZM11 12.5H19V11H11V12.5ZM9.5 22C9.0875 22 8.73437 21.8531 8.44062 21.5594C8.14687 21.2656 8 20.9125 8 20.5V9.5C8 9.0875 8.14687 8.73438 8.44062 8.44063C8.73437 8.14688 9.0875 8 9.5 8H20.5C20.9125 8 21.2656 8.14688 21.5594 8.44063C21.8531 8.73438 22 9.0875 22 9.5V20.5C22 20.9125 21.8531 21.2656 21.5594 21.5594C21.2656 21.8531 20.9125 22 20.5 22H9.5ZM9.5 20.5H20.5V9.5H9.5V20.5Z"
                    fill="white" />
                </g>
              </svg> --}}
            </a><a class="button" href="#">fill application</a></div>
        </div>
      </div>
    </section>
    <section class="call">
      <div class="call-wrapper">
        <h3 class="call-title">Call us if you have any questions</h3>
        <div class="call-item">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_55_2076" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
              height="20">
              <rect width="20" height="20" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_55_2076)">
              <path
                d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                fill="white" />
            </g>
          </svg>
          <h3>+998 71 200 30 05</h3>
        </div><a class="button other" href="tel:+998712003005">callback</a>
      </div>
    </section>
    <div class="factors">
      <div class="container">
        <div class="factors-left">
          <h2 class="factors-title">Production of fresh frozen products</h2><a class="button-other"
            href="{{host}}/about/en">
            <h3>More details</h3><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect width="30" height="30" fill="currentColor" />
              <mask id="mask0_13_696" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                height="20">
                <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_13_696)">
                <path d="M18.125 15.75H9V14.25H18.125L13.9375 10.0625L15 9L21 15L15 21L13.9375 19.9375L18.125 15.75Z"
                  fill="white" />
              </g>
            </svg>
          </a>
        </div>
        <div class="factors__right">
          <p class="factors__right-title">Since 2016, Mali has been offering a variety of deep-frozen semi-finished
            products on the Uzbekistan market. All our products are made with strict adherence to the technological
            process, ensuring consistently high quality.</p>
          <p class="factors__right-text">Mali offers a wide range of frozen semi-finished products and ready-made meals,
            created from selected, natural ingredients. Our products help you cook tasty and healthy meals in just
            minutes while preserving all the beneficial properties and natural taste. We take care of every stage of
            production so that you can enjoy quality and safe products at your table.</p>
        </div>
      </div>
      <div class="factors__images">
        <div class="factors__images-img first"> <img src="/img/pelmeni/item3.png" draggable="false" alt="item"></div>
        <div class="factors__images-img second"> <img src="/img/pelmeni/item4.png" draggable="false" alt="item"></div>
        <div class="factors__images-img third"> <img src="/img/pelmeni/item5.png" draggable="false" alt="item"></div>
        <div class="factors__images-img fourth"> <img src="/img/pelmeni/item6.png" draggable="false" alt="item"></div>
        <div class="factors__images-img fifth"> <img src="/img/pelmeni/item7.png" draggable="false" alt="item"></div>
        <div class="factors__images-img sixth"> <img src="/img/pelmeni/item2.png" draggable="false" alt="item"></div>
        <div class="factors__images-img seventh"> <img src="/img/pelmeni/item1.png" draggable="false" alt="item"></div>
      </div>
    </div>
  </main>
  {{> en/footer}}
</div>